.questions-list {
  width: 100%;
  height: 71vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: flex-start;
  gap: 1rem;
  overflow: scroll;
}
.questions-list::-webkit-scrollbar {
  display: none;
}
@media (max-width: 980px) {
  .questions-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 660px) {
  .questions-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* .questions-list */
